<app-landing-message></app-landing-message>

<div class="container" id="movie-list-container">

    <div id="product-listing-cards">
        <div *ngFor="let movieListItem of movieListItems" class="card movie-listing-card">

            <h2 class="title" (click)="details(movieListItem.movieId)">{{movieListItem.title}}</h2>

            <img [src]="'https://image.tmdb.org/t/p/w500' + movieListItem.posterPath" class="movie-image"
                 alt="movie poster">

        </div>
    </div>

    <div id="pagination-container">
        <app-pagination
                [currentPage]="currentPage"
                [limit]="paginationLimit"
                [total]="paginationTotal"
                (changePage)="changePage($event)">
        </app-pagination>

    </div>

</div>










