<div class="error_cat">
    <img class="error_cat_image" src="assets/images/404cat.svg"
         alt="Page not found (Error: 404)"/>
    <div class="msg-container">
        <p class="msg-sorry">So sorry, we couldn't find that page</p>
        <p class="msg-navigate">If you wish you can go back to the <a class="show_link" (click)="goHome()">main page</a></p>
    </div>
</div>

<div class="fixed-bottom text-center mb-5 license-text">Image by
    <a href="https://www.freepik.com/free-vector/404-error-template-flat-style_1703300.htm#query=simple%20404&position=45&from_view=search&track=ais&uuid=e9f103d2-1aff-44b6-898b-997092fea522">
        Freepik</a></div>
